// --------------------------------------------------------------------------------
// VIEW - FIRST LAUNCH
// --------------------------------------------------------------------------------
.v-firstlaunch 								{
	p 										{ margin:0; padding:0; margin-bottom:10px; }
	.message, .warning 						{ padding:10px 20px; background:$color-white-default; border-top:1px solid $color-gray-lighter-2; border-bottom:1px solid $color-gray-lighter-2; }
	.message 								{ margin-top:20px; margin-bottom:20px;
		p:last-child 						{ margin-bottom:0; }	
	}
	.warning 								{ margin-bottom:20px;
		p:first-child 						{ color:$color-red-default; font-weight:bold; }
		p:last-child 						{ margin-bottom:0; }		
	}
	.m-button:last-child 					{ border-bottom:1px solid $color-gray-lighter-1; }
}