// --------------------------------------------------------------------------------
// VIEW - MAIN 
// --------------------------------------------------------------------------------

.v-main 									{ 
	.device-info-header 					{ padding:12px 20px 8px 20px; background:$color-blue-default; }
	.device-info 							{ 
		li 									{ @include cf(); padding-top:10px; padding-bottom:10px; border-bottom:1px solid $color-gray-lighter-2;
			> div:first-child 				{ @include col(5/12); padding-left:20px; }
			> div:last-child 				{ @include col(6/12); padding-right:20px; }
		}
	}
}