// --------------------------------------------------------------------------------
// VIEW - MAIN 
// --------------------------------------------------------------------------------

.v-main 									{ display:none; position:relative;
	.device-info-header 					{ padding:12px 20px 8px 20px; background:$color-blue-default; }
	.device-info 							{ margin-bottom:50px;
		li 									{ @include cf(); padding-top:10px; padding-bottom:10px; background:$color-white-default; border-bottom:1px solid $color-gray-lighter-2;
			> div:first-child 				{ @include col(5/12); padding-left:20px; }
			> div:last-child 				{ @include col(6/12); padding-right:10px; word-wrap:break-word; }
		}
	}
	.no-device-info-header					{ display:none; padding:12px 20px 8px 20px; background:$color-blue-default; text-align:center; }
	.m-button:last-child 					{ border-bottom:1px solid $color-gray-lighter-1; }
}