// --------------------------------------------------------------------------------
// MODULES - BUTTON
// --------------------------------------------------------------------------------
.m-button 									{ padding:10px 20px; display:block; background:$color-white-default; color:$color-blue-darker-1; text-align:center; font-weight:bold; border-bottom:1px solid $color-gray-lighter-1; cursor:pointer; }
