// --------------------------------------------------------------------------------
// HEADER 
// --------------------------------------------------------------------------------
.l-header									{ padding:32px 0 12px 0; text-align:center; border-bottom:1px solid $color-gray-default; font-size:1.063em; font-weight:500; }