// --------------------------------------------------------------------------------
// HEADER 
// --------------------------------------------------------------------------------
.l-header									{ width:100%; height:65px; padding:32px 0 12px 0; position:absolute; top:0; left:0; background:$color-white-default; text-align:center; border-bottom:1px solid $color-gray-default; font-size:1.063em; font-weight:500; }