/******************************************************
 * NOTE: Changing the following 3 values in either:   *
 * platforms/ios/www/js/blinkupconfig.js OR           *
 * platforms/android/assets/www/js/blinkupconfig.js   *
 * won't change anything. The values are overwritten  *
 * at build time by those in www/js/blinkupconfig.js. *
 ******************************************************/
 var apiKey = "";          // this MUST be set or the app won't work
 var developerPlanId = ""; // please see ReadMe > Testing the Plugin
                           // before setting this, default is ""
 var timeoutMs = 30000;    // default is 30s
