// --------------------------------------------------------------------------------
// VARIABLES 
// --------------------------------------------------------------------------------

$color-white-default:						#fff;

$color-gray-lighter-2:						#dad9de;
$color-gray-lighter-1:						#c8c7cc;
$color-gray-default: 						#a7a7aa;
$color-gray-darker-1: 						#333;
$color-gray-darker-2:						#555;

$color-green-default: 						#4B946A;
$color-green-darker-1: 						#3b7453;

$color-blue-default: 						#efeff4;
$color-blue-darker-1: 						#007aff;

$color-red-default: 						#944b4b;

$font-color-default: 						#000;
$font-family:								Helvetica, 'HelveticaNeue', Arial, sans-serif;